{:kotoba.app/id "cloud.itonami.isic-9601", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiad4tswls47zc5oa72crhqfwvxfr2eeg6dnnjpqlw6asfs7zf2tom", :kotoba.app/embed-url "ipfs://bafkreiad4tswls47zc5oa72crhqfwvxfr2eeg6dnnjpqlw6asfs7zf2tom", :published {:archive "https://kotobase.net/ipfs/bafkreiad4tswls47zc5oa72crhqfwvxfr2eeg6dnnjpqlw6asfs7zf2tom", :size 75790, :put-status 201, :get-status 200, :at "2026-08-15T13:57:27.748Z"}}
